<html lang="en">
{% load static %}
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="volrath" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>
    <!-- Copy-paste the stylesheet <link> into your <head> before all other stylesheets to load our CSS. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <!-- Latest compiled and minified CSS from MaxCDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript from MaxCDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!-- Custom styles for this template -->

    <link rel="stylesheet" type="text/css" href={% static 'map_telenor/css/map_telenor.css' %}>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> <!-- Font h1 -->
    <link type="text/css" href="http://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> <!-- Font rest of the webpage see byggmesteran.css-->

<!-- style placed here to be available for html. -->
<style>
.navbar{
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  background-color: #586f93;
  height: 80px;
  width: 100%
}
.navbar-brand {
  min-height: 28px;
  padding: 0px 50px 50px;
}

.center {
  margin: 0 auto;
  width: 90%;

}

.sidebar {
  background-color: #ccc;
  border-radius: 0;
}

</style>

</head>

<!-- This is the base of the website. Extended in every html-file. -->
<body>

<<<<<<< HEAD
=======


>>>>>>> frontend_dev
<!--Header -->
  <nav class="navbar navbar-expand-lg" >
      <a class="navbar-brand" href="#"><img src="{% static 'map_telenor/images/tooltag_logo.png' %}" alt="tooltag_logo" width="100" height="40"></a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
  <a class="nav-text" href="#" ><pre>[Admin] | Telenor </pre></a>
        </li>
  </nav>

<!-- Menu on side

  <div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 col-xs-1 p-l-0 p-r-0d-none d-md-block sidebar">
             <ul class="nav flex-column"> <br> <br>
              <li class="nav-item">
                <a class="nav-link" href="#">
                <p class="no_highlight"><span data-feather="map-pin"></span>Kart</p>

                </a>
              </li>
            </ul>

      </nav>

-->


  <main role="main" class="col-md ml-sm-auto col-lg pt-3 px-4">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">

<!-- Here every page is included -->
{% block body %}
{% endblock %}

    </div>

  </div>

</div>


</body>

<footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>


  <!-- Icons -->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script>
    feather.replace()
  </script>

  <!-- Graphs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

</footer>

</html>
