<!doctype html>

{% extends 'map_telenor/base.html' %}



{% block body %}
<header>

  <style>
         /* Set the size of the div element that contains the map */
        #overall_map {
          height: 700px ;  /* The height is 400 pixels */
          width: 100%;  /* The width is the width of the web page */
          position: center;
         }
  </style>
</header>

  <div class="container-fluid">


    <div class="row">
      <div class="col">

      </div>
    </div>

    <div class="row">
      <div class="col">


        <br></br>

           <!-- The google map -->

              <div class="jumpotron" id="overall_map"></div>

      </div>
    </div>
  </div>

{% for d in data %}
  {% if d.type == "gateway" %}
  <!-- Modal which show information about the gateway, included list of tools. Shown in the infoWindow -->
  <div class="modal fade" id="ModalMap{{d.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"> <!-- Husk egen ID -->
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">

<p class="modal-title">UTSTYR</p>

{% for cow in herd %}
  <!-- Modal shown in the infoWindow -->
  <div class="modal fade" id="ModalMap{{cow.cow_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"> <!-- Husk egen ID -->
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Info om {{cow.cow_name}}</h2>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                {% csrf_token %}
                {% for header in item_table_header%}
                 <th>{{header}}</th> <!-- Prints the header in table -->
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% csrf_token %}

                  {% for tool in d.tools %}
                  <tr>

                      {% for tool_info in tool %}
                        {% if forloop.counter == 1 %}
                        <!-- don't display the tool_id -->
                        {% else %}
                          <td><p>{{tool_info}}</p></td>

                        {% endif %}
                      {% endfor %}

                  </tr>

              {% endfor %}
            </tbody>
          </table>


        </div>

          <div class="row">
            <div class="col">
              <ul>
                <li>  <h3> <strong>Generell info </strong></h3></li>
                <li><p><strong>Status: </strong> {% if cow.in_transit == 1 %} I bevegelse. {% else %} Stillestående. {% endif %} </p></li>
                <li><p><strong></p></li>
                <li><p><strong>Kjøpsdato: </strong>{{cow.purchased_date}}</p></li>
                <li><p><strong>Servicedato: </strong>{{cow.service_date}}</p></li>

                <li><h3><strong>Sensordata </strong></h3></li>
                <li> <p><strong>Temperatur i vogn: </strong>{{cow.temp}}°C </p></li>
                <li> <p><strong>Antenneretninga: </strong> {{cow.antenna_direction}}° </p></li> <!--  i forholdet til ka? -->
                <li> <p><strong>Strøm i vognen: </strong>{% if cow.power_on == 1 %} Ja {% else %} Nei {% endif %}</p></li>
                <li> <p><strong>Dør åpen:</strong> {% if cow.door_open == 1 %} Ja {% else %} Nei {% endif %} </p></li>
              </ul>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <h3><strong>Merknad</strong></h3>
              <form action = "{% url 'map_telenor:cow_update_note' cow.cow_id %}" method = "GET">
                {% csrf_token %}
                <input class="form-control" type="text" value="{{cow.note}}" id="note" name = "note">
              <input class="btn" type = "submit" id="submit" value="Lagre"></input>
              </form>

            </div>

          </div>

        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Lukk</button>
      </div>
    </div>
  </div>
</div>


  {% else %}
  <!-- do nothing  -->


  {% endif %}

{% endfor %}

<footer>


<script src="jquery-3.3.1.min.js"></script>
<script>

<script type="text/javascript" charset="utf-8">

      // Initialize and add the map
      var marker;


      function save()
      {
        var value = marker.getPosition();

      }

      function initMap()
      {
        // The location of Uluru
        var uluru = {lat:  63.3, lng: 11.1 }; /* Start coordinates */

        // The map, centered at Uluru

        map = new google.maps.Map(document.getElementById('overall_map'), {zoom: 8, center:uluru});

        // Create new markers


          var marker{{forloop.counter}} = new google.maps.Marker({
  				      position: {lat : 63.73, lng : 10.4 },
  		          icon:
                  'http://maps.google.com/mapfiles/kml/paddle/blu-blank.png',

  		   		    map:map,
  		    });

/*Create a contentString to every marker.
For byggeplass: Link to redirect to construction_yard_details.
For gateway: Show a small list over tools registrated by this gateway in a modal. */

/* Gateway infoWindow */
          var contentStringGateway = '<div id="contentGateway">'+
                      '<div id="siteNotice">'+
                      '</div>'+
                      '<h3 id="firstHeading" class="firstHeading">{{d.name}}</h3>'+
                      '<div id="bodyContent">'+
                      '<p> <a role="button" class="btn btn-light btn-xs" data-toggle="modal" data-target="#ModalMap{{d.id}}"><span data-feather="plus"></span>'+
                      'Vis utstyr</a> '+
                      '</p>'+
                      '</div>'+
                      '</div>';
/* Project infoWindow */

          var contentStringProject = '<div id="contentProject">'+
                      '<div id="siteNotice">'+
                      '</div>'+
                      '<h3 id="firstHeading" class="firstHeading">{{d.name}}</h3>'+
                      '<div id="bodyContent">'+
                      '<p> <a class="no_highlight" href="#">'+
                      'Gå til byggeplass</a> '+
                      '</p>'+
                      '</div>'+
                      '</div>';


          var infoWindowIsClosed{{forloop.counter}} = true;

          if ("{{d.type}}" == "gateway") {
              var infoWindow{{forloop.counter}} = new google.maps.InfoWindow( {content : contentStringGateway });
          } else {
            var infoWindow{{forloop.counter}} = new google.maps.InfoWindow( {content : contentStringProject });
          }

        map = new google.maps.Map(document.getElementById('overall_map'), {zoom: 5, center:uluru});

        // Create new markers

        {% for cow in herd %}
          var marker{{forloop.counter}} = new google.maps.Marker({
  				      position: {lat : {{cow.lat}}, lng : {{cow.long}} },
  		          icon:

                {% if cow.in_transit == 1 %}
                  'http://maps.google.com/mapfiles/kml/paddle/blu-blank.png',
                {% elif cow.in_service == 1%}
                  'http://maps.google.com/mapfiles/kml/paddle/grn-blank.png',
                {% else %}
                  'http://maps.google.com/mapfiles/kml/paddle/red-blank.png',

                {% endif %}
  		   		    map:map,
  		    });




          var content = '<div id="content">'+

                      '<div id="siteNotice">'+
                      '</div>'+
                      '<h3 id="firstHeading" class="firstHeading">{{cow.cow_name}}</h3> '+
                      '<hr>'+
                      '<div class="row" id="bodyContent">'+
                      '<div class="col">'+
                      '<ul>'+
                      '<li><p>'+
                      'Status: {% if cow.in_transit == 0 %} Ikke i bevegelse. {% else %} i bevegelse. Sjekk merknadsfelt for hvor den er ventet.{% endif %} '+
                      '</p></li>'+
                      '<li><p>'+
                      '<strong>Neste service: </strong>{{cow.service_date}}'+
                      '</p></li>'+
                      '</ul>'+
                      '</div>'+
                      '</div>'+
                      '<div class="row" id="bodyContent">'+
                      '<div class="col">' +
                      '<a role="button" class="btn btn-light btn-xs" data-toggle="modal" data-target="#ModalMap{{cow.cow_id}}"><span data-feather="plus"></span>'+
                      'Vis mer info</a> '+
                      '</div>'+
                      '</div>';

          var infoWindowIsClosed{{forloop.counter}} = true;
          var infoWindow{{forloop.counter}} = new google.maps.InfoWindow( {content : content});





          marker{{forloop.counter}}.addListener('click', function() {
            if(infoWindowIsClosed{{forloop.counter}} == true)
            {
              infoWindow{{forloop.counter}}.open(map, marker{{forloop.counter}});
              infoWindowIsClosed{{forloop.counter}} = false;
            }

            else {
              infoWindow{{forloop.counter}}.close(map, marker{{forloop.counter}});
                infoWindowIsClosed{{forloop.counter}} = true;

            }


          });

            else
            {
              infoWindow{{forloop.counter}}.close(map, marker{{forloop.counter}});
                infoWindowIsClosed{{forloop.counter}} = true;
            }
          });
          {% endfor %}

    }

    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhtkGgx24FdCmrajIYdbPaC_w-j5vGwgY&callback=initMap">
    </script>

    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js'></script>

</footer>
{% endblock %}
