<!-- code for getting a item table. Only used for warehouse.html. For future use changing the code to only extend til file. -->

  <div class="table-responsive">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          {% csrf_token %}
          {% for header in item_table_header%}
          <th>{{header}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
          {% csrf_token %}
          {% for row in item_table%}
          <tr>
            {% for item in row %}
             {% if forloop.counter == 1%}
             <!-- dont print the id -->
             {% else %}
               <td class="click"><a href="{% url 'byggmesteran:tool_edit' row.0 %}" class="no_highlight"> {{item}} </a></td>
            {% endif %}
            {% endfor %}
          <tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
