<!doctype html>

{% extends 'byggmesteran/base.html' %}



{% block body %}
<!-- CSS -->
<style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 500px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
</style>
<main>

  <div class = "container" >

    {% if new_project %}
        <h2 ><strong> NYTT PROSJEKT </strong></h2>
    {% else %}
        <h2 ><strong> REDIGER PROSJEKT </strong></h2>
    {% endif %}

<hr>

        {% if new_project %}
        <form action = "{% url 'byggmesteran:counstruction_edit_update_project' 1 0 %}" method="POST">
        {% else %}
        <form action = "{% url 'byggmesteran:counstruction_edit_update_project' 0 project_id %}" method="POST">
        {% endif %}

      	{% csrf_token %}
        <div class="form-group row">
        	<label for="project_name" class="col-2 col-form-label"><p>Navn</p></label>
        		<div class="col-sm-5">
          		<input class="form-control" type="text" value="{{project_name}}" id="project_name" name = "project_name">
        		</div>
      	</div>

  	    <div class="form-group row">
  	       <label for="select_1" class="col-2 control-label"> <p>Kontakt</p> </label>
  	        <div class="col-md-4">
  	           <select class="custom-select custom-select-lg sm-2" id = "select_1" name ="sample">

  					   <option selected="{{project_contact_id}}" value = "{{project_contact_id}}">{{project_contact_name}} -- {{project_contact_email}}</option>
  				         {% for c in contacts %}
  				           <option value="{{c.0}}">{{c.1}}   --  {{c.3}}</option>
  				         {% endfor %}
  			        </select>
          </div>

          <div class="col-md-1"
            <a role="button" class="btn btn-light btn-xs" data-toggle="modal" data-target="#exampleModalCenter"><span data-feather="plus"></span>  </a>
          </div>
       </div>


    	 <div class="form-group row">
    	    <label for="project_start_date" class="col-2 col-form-label"><p>Start dato</p></label>
    	     <div class="col-md-5">
    	        <input class="form-control" type="date" value="{{project_start_date}}" id="project_start_date" name = "project_start_date">
    	     </div>
    	 </div>

    	 <div class="form-group row">
    	   <label for="project_start_date" class="col-2 col-form-label"><p>Slutt dato</p></label>
    	   <div class="col-md-5">
    	     <input class="form-control" type="date" value="{{project_end_date}}" id="project_end_date" name = "project_end_date">
    	   </div>
    	 </div>


    	 <div class="form-group row">
       	<label for="project_note" class="col-2 col-form-label"><p>Merknad</p></label>
       		<div class="col-sm-5">
         		<input class="form-control" type="text" value="{{project_note}}" id="project_note" name = "project_note">
       		</div>
    	 </div>

    	 <div class="form-group row">
    	 	 <div clas = "col-sm-5">
    			<input type="submit" class = "btn btn-light" value="Lagre endringer" name = "main_save">
    		 </div>
    	 </div>

          	<!-- HIDING The long and lat form-text :) ... must have them in html, since we are reading from this fields when
         		we are saving the form data to database -->
          	<div class = "hide">
             <div class="row">
               <div class="col">
             	 	<div class="form-group row">
             	 		<label for="long" class="col-1 col-form-label">long</label>
             	 		<div class="col-sm-2">
             				<input  type="text" class="form-control" name="long" value="0" id='long'>
             			</div>
             	        <label for="long" class="col-1 col-form-label">lat</label>
             	        <div class="col-sm-2">
             	        	<input type="text" class="form-control" name="lat" value="0" id ="lat">
             	        </div>
         	      </div>
               </div>
         	  </div>
           </div>


         	<!-- *******************************************************************************-->

     <h3 style="margin-top: 40px"> Lokasjon </h3>

    <!-- The google map -->
      <div class="row" style="margin-top: 40px">
       <div class="col" id="map"></div>

      </div>

    <!---***************-->

    <br>

    <br>

     <p>Trykk på kartet for å justere posisjon</p>

  </div>
</main>


<!--- FORM for MODAL-->

<!-- Modal (tiny window when push button) -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ny kontaktperson</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        	<div class="form-group row">
		  		<label for="contact_name" class="col-2 col-form-label">Navn</label>
		  		<div class="col-10">
		    		<input class="form-control" type="text" name = "contact_name" value="" id="contact_name">
		  		</div>
			</div>

			<div class="form-group row">
			  <label for="contact_number" class="col-2 col-form-label">Telefon</label>
			  <div class="col-10">
			    <input class="form-control" type="tel" value="" id="contact_number" name = "contact_number">
			  </div>
			</div>

			<div class="form-group row">
			  <label for="contact_email" class="col-2 col-form-label">E-mail</label>
			  <div class="col-10">
			    <input p class="form-control" type="email" value="" id="contact_email" name = "contact_email" placeholder="olanordmann@hotmail.com">
			  </div>
			</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
        <input type="submit" class = "btn btn-primary" value="Lagre kontakt" name = "contact_save">
      </div>
    </div>
  </div>
</div>

 </form>
        <!--****** FORM end****-->

 <!--modal-end-->

<script>
      // Initialize and add the map
      var marker;


      function save()
      {
        var value = marker.getPosition();
        document.getElementById("output").innerHTML = "value = " + value;
      }


      // includes map and give default coordinants.
      function initMap()
      {

        var uluru = {lat: {{ lat }}, lng: {{ long }} };
        document.getElementById('lat').value = {{lat}};
        document.getElementById('long').value = {{long}};
        // The map, centered at Uluru
        map = new google.maps.Map(document.getElementById('map'), {zoom: 8, center:uluru});

        //add markers on the map.
		var marker = new google.maps.Marker({
				position: uluru,
		        icon: 'http://maps.google.com/mapfiles/kml/paddle/grn-blank.png', //GOOGLE the link, and you can find optional markers.
		   		map:map,
		    });



        function moveMarker(coords)
        {
          marker.setPosition(coords);
          document.getElementById('long').value = coords.lng();
          document.getElementById('lat').value = coords.lat();

        }



        //marker.addListener('click', function(){infoWindow.open(map, marker);});



        //listen for click on map

      google.maps.event.addListener(map, 'click',
        function(event)
        {
          moveMarker(event.latLng);
        }
      );
    }


    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhtkGgx24FdCmrajIYdbPaC_w-j5vGwgY&callback=initMap">
    </script>

    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js'></script>



{% endblock %}
