<!doctype html>

{% extends 'byggmesteran/base.html' %}


{% block body %}
<main>
  <div class="container">
    <h2><strong>ALLE KONTAKTER</strong></h2>
    <hr>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-md">

        <a class="btn btn-light" href="{% url 'byggmesteran:contact_edit' 1 0 %} " role="button"><span data-feather="plus"></span> Ny kontakt </a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="table-responsive">

        <!-- Creating table-->
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <!--header with 'name', 'number', 'email' -->
                {% csrf_token %}
                {% for header in item_table_header%}
                <th>{{header}}</th>
                {% endfor %}
              </tr>
            <!--the actually name, number, email-->
              {% csrf_token %}
              {% for contact in contacts %}
              <tr>
                <th><a href = "{% url 'byggmesteran:contact_edit' 0 contact.0 %} " class="no_highlight"> {{contact.1}}</a></th>
                <th><a href = "{% url 'byggmesteran:contact_edit' 0 contact.0 %} " class="no_highlight"> {{contact.2}}</a></th>
                <th><a href = "{% url 'byggmesteran:contact_edit' 0 contact.0 %} " class="no_highlight"> {{contact.3}}</a></th>
                <th><a href = "#"><span class="glyphicon glyphicon-trash no_highlight"></span></a></th>
              </tr>
              {% endfor %}
              <!---***************************-->
            </thead>
          </table>
      <!--********** end of table ****************** -->
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
