<!doctype html>

{% extends 'byggmesteran/base.html' %}


{% block body %}

<main>
<div class = "container-fluid">
  <h2> {% if add_new_contact %} NY KONTAKT {% else %} ENDRE KONTAKT {% endif %} </h2>
  <hr>


	{% if add_new_contact %}
	<form action = "{% url 'byggmesteran:contact_update' 1 0 %}">
  	{% else %}
	<form action = "{% url 'byggmesteran:contact_update' 0 contact_id %}">
  	{% endif %}

    <div class="form-group row">
      <div class="col-2 col-form-label">
  		    <label for="contact_name">Navn</label>
      </div>
  		<div class="col-10">
    		<input class="form-control" type="text" name = "contact_name" value="{{contact_name}}" id="contact_name">
  		</div>
	   </div>

	   <div class="form-group row">
       <div class="col-2 col-form-label">
	      <label for="contact_number">Telefon</label>
      </div>
	    <div class="col-10">
	        <input class="form-control" type="tel" value="{{contact_number}}" id="contact_number" name = "contact_number">
	    </div>
	   </div>

	   <div class="form-group row" style="margin-bottom:20px">
       <div class="col-2 col-form-label">
	      <label for="contact_email">Email</label>
      </div>
	     <div class="col-10">
	    <input class="form-control" type="email" value="{{contact_email}}" id="contact_email" name = "contact_email">
      </div>
	  </div>

    <input type="submit" value="Submit">

    </form>

  </div>
</main>




{% endblock %}
