<!-- Not in use -->

<!doctype html>

{% extends 'byggmesteran/base.html' %}

{% block body %}

<h2> HISTORIKK  </h2>

<hr>
<div class="container">
  <!-- possible to have buttons -->
  <div class="row" style="margin-bottom: 60px">
    <div class="col">
      <a class="btn btn-light" href="#" role="button"><pb><span data-feather="home"></span> Something </pb></a>
      <a class="btn btn-light" href="#" role="button"><pb><span data-feather="map-pin"></span> Something else </pb></a>
    </div>
  </div>

  <div class="row">
    <div class="col">

    <!-- Table of info about tools' earlier position. -->

    </div>
  </div>

</div> <!-- End container -->

{% endblock %}
