<!-- Not in use -->

<!doctype html>

{% extends 'byggmesteran/base.html' %}


{% block body %}


    <tr>
      <div class="container">
          <div class="well"><h2> <strong>STARTSIDE</strong></h2></div>
        </div>
    </tr>
  </div>

<!--
  <canvas class="my-4" id="myChart" width="900" height="380"></canvas>
-->



{% endblock %}
