<!doctype html>

{% extends 'byggmesteran/base.html' %}

{% block body %}
<header>

  <style>
         /* Set the size of the div element that contains the map */
        #overall_map {
          height: 550px ;  /* The height is 400 pixels */
          width: 100%;  /* The width is the width of the web page */
          position: center;
         }
  </style>
</header>

  <div class="container-fluid">

    <h2><strong> KART </strong></h2>
    <hr>


    <div class="row">
      <div class="col">
        <!-- Buttons to select to show/hide gateways and projects -->
        {% if gateway_selected == 0 %}
        <a class="btn btn-light" href="{% url 'byggmesteran:overall_map' 1 project_selected %}" role="button"> Vis gateways <span data-feather="square" color: red ></span></a>
        {% else %}
        <a class="btn btn-light" href="{% url 'byggmesteran:overall_map' 0 project_selected %}" role="button"> Vis gateways <span data-feather="check-square"></span> </a>
        {% endif %}

        {% if project_selected == 0 %}
        <a class="btn btn-light" href="{% url 'byggmesteran:overall_map' gateway_selected 1 %}" role="button"> Vis byggeplasser <span data-feather="square"></span> </a>
        {% else %}
        <a class="btn btn-light" href="{% url 'byggmesteran:overall_map' gateway_selected 0 %}" role="button"> Vis byggeplasser <span data-feather="check-square"></span></a>
        {% endif %}

      </div>
    </div>

    <div class="row">
      <div class="col">


        <br></br>

           <!-- The google map -->

              <div class="jumpotron" id="overall_map"></div>

      </div>
    </div>
  </div>

{% for d in data %}
  {% if d.type == "gateway" %}
  <!-- Modal which show information about the gateway, included list of tools. Shown in the infoWindow -->
  <div class="modal fade" id="ModalMap{{d.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"> <!-- Husk egen ID -->
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title">UTSTYR</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                {% csrf_token %}
                {% for header in item_table_header%}
                 <th>{{header}}</th> <!-- Prints the header in table -->
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% csrf_token %}

                  {% for tool in d.tools %}
                  <tr>

                      {% for tool_info in tool %}
                        {% if forloop.counter == 1 %}
                        <!-- don't display the tool_id -->
                        {% else %}
                          <td><p>{{tool_info}}</p></td>

                        {% endif %}
                      {% endfor %}

                  </tr>

              {% endfor %}
            </tbody>
          </table>


        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Lukk</button>
      </div>
    </div>
  </div>
</div>


  {% else %}
  <!-- do nothing  -->


  {% endif %}
{% endfor %}

<footer>



<script src="jquery-3.3.1.min.js"></script>
<script>
      // Initialize and add the map
      var marker;


      function save()
      {
        var value = marker.getPosition();

      }

      function initMap()
      {
        // The location of Uluru
        var uluru = {lat:  63.3, lng: 11.1 }; /* Start coordinates */

        // The map, centered at Uluru
        map = new google.maps.Map(document.getElementById('overall_map'), {zoom: 8, center:uluru});

        // Create new markers
        {% for d in data %}

          var marker{{forloop.counter}} = new google.maps.Marker({
  				      position: {lat : {{d.lat}} , lng : {{d.lng}} },
  		          icon:
                {% if d.type == "gateway" %}
                  'http://maps.google.com/mapfiles/kml/paddle/blu-blank.png',
                {% else %}
                  'http://maps.google.com/mapfiles/kml/paddle/grn-blank.png',
                {% endif %}
  		   		    map:map,
  		    });

/*Create a contentString to every marker.
For byggeplass: Link to redirect to construction_yard_details.
For gateway: Show a small list over tools registrated by this gateway in a modal. */

/* Gateway infoWindow */
          var contentStringGateway = '<div id="contentGateway">'+
                      '<div id="siteNotice">'+
                      '</div>'+
                      '<h3 id="firstHeading" class="firstHeading">{{d.name}}</h3>'+
                      '<div id="bodyContent">'+
                      '<p> <a role="button" class="btn btn-light btn-xs" data-toggle="modal" data-target="#ModalMap{{d.id}}"><span data-feather="plus"></span>'+
                      'Vis utstyr</a> '+
                      '</p>'+
                      '</div>'+
                      '</div>';
/* Project infoWindow */

          var contentStringProject = '<div id="contentProject">'+
                      '<div id="siteNotice">'+
                      '</div>'+
                      '<h3 id="firstHeading" class="firstHeading">{{d.name}}</h3>'+
                      '<div id="bodyContent">'+
                      '<p> <a class="no_highlight" href="{% url 'byggmesteran:construction_yard_details' d.id  %}">'+
                      'Gå til byggeplass</a> '+
                      '</p>'+
                      '</div>'+
                      '</div>';


          var infoWindowIsClosed{{forloop.counter}} = true;

          if ("{{d.type}}" == "gateway") {
              var infoWindow{{forloop.counter}} = new google.maps.InfoWindow( {content : contentStringGateway });
          } else {
            var infoWindow{{forloop.counter}} = new google.maps.InfoWindow( {content : contentStringProject });
          }




          marker{{forloop.counter}}.addListener('click', function() {
            if(infoWindowIsClosed{{forloop.counter}} == true)
            {
              infoWindow{{forloop.counter}}.open(map, marker{{forloop.counter}});
              infoWindowIsClosed{{forloop.counter}} = false;
            }
            else {
              infoWindow{{forloop.counter}}.close(map, marker{{forloop.counter}});
                infoWindowIsClosed{{forloop.counter}} = true;

            }


          });


        {% endfor %}
    }

    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhtkGgx24FdCmrajIYdbPaC_w-j5vGwgY&callback=initMap">
    </script>

    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js'></script>

</footer>
{% endblock %}
