<!doctype html>

{% extends 'byggmesteran/base.html' %}

{% block body %}
{% load byggmesteran_tag %}
<!-- CSS -->
<style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 250px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
</style>
<main>

  <div class = "container-fluid" >
    <h2 id ="myheader"><strong> REDIGER VERKTØY </strong></h2>

 <br></br>

        <form action = "{% url 'byggmesteran:tool_edit_update' tool_id %}" method="POST">
      	{% csrf_token %}
        <div class="form-group row">
        	<label for="tool_name" class="col-3 col-form-label">Navn</label>
        		<div class="col-8">
          		<input class="form-control" type="text" value="{{tool_name}}" id="tool_name" name = "tool_name">
        		</div>
      	</div>

        <div class="form-group row">
          <label for="tool_manufacturer" class="col-3 col-form-label">Merke</label>
            <div class="col-8">
              <input class="form-control" type="text" value="{{tool_manufacturer}}" id=tool_manufacturer name = "tool_manufacturer">
            </div>
        </div>

        <div class="form-group row">
           <label for="category_select" class="col-3 control-label"> Kategori </label>
            <div class="col-8">
               <select class="custom-select custom-select-lg sm-2" id = "category_select" name ="category_select" onchange = "categoryChange(this)" >

               <option selected="{{tool_category_name}}" value = "{{tool_category_id}}"> {{tool_category_name}}</option>
                   {% for c in categories %}
                     <option value="{{c.0}}">{{c.1}}</option>
                   {% endfor %}
                </select>
          </div>
       </div>

  	    <div class="form-group row">
  	       <label for="type_select" class="col-3 control-label"> Type </label>
  	        <div class="col-8">
  	           <select class="custom-select custom-select-lg sm-2" id = "type_select" name ="type_select">

  					   <option selected="{{tool_type_name}}" value = "{{tool_type_id}}"> {{tool_type_name}}</option>
  				         {% for t in types %}
  				           <option value="{{t.0}}">{{t.1}} </option>
  				         {% endfor %}
  			        </select>
          </div>
       </div>

       <div class="form-group row">
         <label for="tool_purchased_date" class="col-3 col-form-label">Innkj.dato</label>
         <div class="col-sm-8">
           <input class="form-control" type="date" value="{{tool_purchased_date}}" id="tool_purchased_date" name = "tool_purchased_date">
         </div>
       </div>

       <div class="form-group row">
          <label for="tool_service_date" class="col-3 col-form-label">Servicedato</label>
           <div class="col-sm-8">
              <input class="form-control" type="date" value="{{tool_service_date}}" id="tool_service_date" name = "tool_service_date">
           </div>
       </div>

    	 <div class="form-group row">
       	<label for="project_note" class="col-3 col-form-label">Merknad</label>
       		<div class="col-sm-8">
         		<input class="form-control" type="text" value="{{tool_note}}" id="tool_note" name = "tool_note">
       		</div>
    	 </div>

    	 <div class="form-group row">
    	 	 <div clas = "col-sm-8">
    			<input type="submit" class = "btn btn-light" value="Lagre endringer" name = "main_save">
    		 </div>
    	 </div>



</main>

<script type="text/javascript">

  /*
    @brief: Generating javascript hashmap :
        key: category_id  (int)
        item: array of [type_id, type_name]

      e.t  [[type_id,type_name],[type_id,type_name]...]
  */
  var category_list = [];
  {% for c in categories %}
    category_list["{{c.0}}"] = [];
    {% with c.0 as c_id %}
      {% for t in types_by_category|return_item:c_id %}
        category_list["{{c.0}}"].push([{{t.0}}, "{{t.1}}"]);
      {% endfor %}
    {% endwith %}
  {% endfor %}

  /*
  @brief change catagory-handler
  */
  function categoryChange(selectObj)
  {
     // get the index of the selected option
    var idx = selectObj.selectedIndex;
    // get the value of the selected option
    var which = selectObj.options[idx].value;
    // use the selected option value to retrieve the list of items from the category_list array
    type_list = category_list[which];
    // get the category select element via its known id
     var typeSelect = document.getElementById("type_select");
     // remove the current options from the category select
     var len=typeSelect.options.length;
     while(typeSelect.options.length>0)
     {
      typeSelect.remove(0);
     }

     var newOption;//create new options


     //for each new Option we add it to the typeselect in html
     for(var i=0; i <type_list.length; i++)
     {
      newOption = document.createElement("option");
      newOption.value = type_list[i][0];//type_id
      newOption.text = type_list[i][1];//type_name
      try{
      typeSelect.add(newOption);
      }
      catch(e) //gotta cachem all:)
      {
      typeSelect.appendChild(newOption);
      }
     }

  }


</script>
{% endblock %}
