<!doctype html>

{% extends 'byggmesteran/base.html' %}


{% block body %}

<div class="container-fluid">

    <h2><strong>PÅ LAGER</strong></h2>
    <hr> <!-- Horizontal line -->

    <div class = "row">
      <div class="col">
        <a class="btn btn-light" href="#" role="button"><span data-feather="settings"></span> Rediger lager</a>
        <br></br>
      </div>
    </div>

    <div class = "row" style="margin-bottom:20px">
      <div class = "col-md-4">
        <h3> Info </h3>
        <p>
          <a href="#" class="no_highlight">
          <span class="glyphicon glyphicon-user"></span>
          </a>
          Logistikkansvarlig: {{warehouse_contact_name}}
        </p>
        <p>
          <span class="glyphicon glyphicon-earphone"></span>
          Telefonnummer: {{warehouse_contact_number}}
        </p>
        <!-- <p>
          <span class="glyphicon glyphicon-map-marker"></span>
          Adresse: {{ warehouse_address}}
        </p> -->
        <p>
          <a href="#" class="no_highlight">
          <span class="glyphicon glyphicon-envelope"></span>
          E-mail: {{warehouse_email}}
          </a>
        </p>
      </div>

      <div class="col-md-4">
        <!-- For space -->
      </div>

      <!-- Doesn't exist edit function -->
      <div class="col-md-4">
        <form action = "#">
        <label for="exampleFormControlTextarea1"><h3> Merknad for lager</h3></label>
        <p><textarea class="form-control" id="warehouse_note" rows="3" value = "{{warehouse_note}}" name = "warehouse_note" onclick="edit_function()">{{warehouse_note}}</textarea></p>

        <input onclick="readonly_function()" type="submit" id="mySubmit" value="Lagre">
        </form>
      </div>

    </div>
  <!--
    <canvas class="my-4" id="myChart" width="900" height="380"></canvas>
  -->
  <br></br>

    <div class="row">
      <div class="col">
        <h3>Utstyr på lager</h3>
        {% include 'byggmesteran/base_table.html' %}
      </div>
    </div>
</div>

<script>
function edit_function() {
    document.getElementById("warehouse_note").readOnly=false;
}
function readonly_function(){
    document.getElementById("warehouse_note").readOnly=true;
}
</script>

{% endblock %}
