/* Here all the css code is  */

<style>


/* Oddly enough without the style class the background color of the header cannot be set.*/
.white-text{
  color: #fff;
}
/* Fonts */
h2 {
    font-family: 'Open Sans', sans-serif;
}
h3 {
  font-family: "Roboto Condensed";
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px; }

p {
  font-family: "Roboto Condensed";
<<<<<<< HEAD
  font-size: 17px;
=======
  font-size: 18px;
>>>>>>> frontend_dev
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 15px; }


pre {
  font-family: "Roboto Condensed";
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 18.5714px; }


.no_highlight { color: black; } /* Black text instead of blue. */

/*Buttons for construction_yard */
.btn-circle.btn-xl {
  width: 90px;
  height: 90px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 50px;
}
/* width and height can be anything, as long as they're equal */

.dot_green {
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.dot_red {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}


input[type=submit] {
<<<<<<< HEAD
background-color: #4CAF50;
border: none;
color: white;
padding: 16px 32px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
=======
background-color:grey;
border:black;
color: black;

text-decoration: none;
margin: 4px 2px;
cursor: pointer;
{font-family: "Roboto Condensed";}

}
/* code to center text under figure in construction_yard */
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
    background-color: #FFF;
    border: 1px solid #FFF;
}
/* Compresses the accordion in 'Tool'. */
.card-header {
  max-height: 30px;
}

/* Make a link out of the whole row half way used in 'tool'*/
.click a { display: block;}

/* set the font for the different classes. May be done in a different way */
.btn , .input , .option {font-family: "Roboto Condensed";}
th, tr {  font-family: "Roboto Condensed";}



/*Formating the infoWindow to make the table fit */

.modal {
  max-width: 1000px;
  margin: auto;
  font-family: "Roboto Condensed";
}
<<<<<<< HEAD
=======

ul {
 list-style: none;
}

</style>
